<html>
<head><style type="text/css">h1 {background-color:#9999CC}
h2 {background-color:#BBBBCC}
h3 {background-color:#DDDDFF}
th {border:1px solid black;background-color:#CCCCDD;}
td{border:1px solid black;}
table {border:1px solid black;border-collapse: collapse;}
.chart {border:0px none black;border-collapse: collapse;background-color: none;}
.passed {background-color:lightgreen;font-weight:bold;color:darkgreen}
.failed {background-color:tomato;font-weight:bold;color:darkred}
.undefined {background-color:gold;font-weight:bold;color:goldenrod}
.skipped {background-color:silver;font-weight:bold;color:darkgray}
.passed_description {background-color:#D0FFD0;font-weight:bold;font-style:italic;color:black}
.failed_description {background-color:#FFA898;font-weight:bold;font-style:italic;color:black}
OL { counter-reset: item }
OL>LI { display: block }
OL>LI:before { content: counters(item, ".") " "; counter-increment: item }
</style>
<title>Detailed Results Report</title>
  </head>
  <body>
  <h1>Overview</h1>
<table><tr><th></th><th>Passed</th><th>Failed</th><th>Undefined</th><th>%Passed</th></tr><tr><th>Features</th><td class="passed">0</td><td class="failed">1</td><td class="undefined">0</td><td>0.00</td></tr><tr><th>Scenarios</th><td class="passed">0</td><td class="failed">1</td><td class="undefined">0</td><td>0.00</td></tr><tr><th>Steps</th><td class="passed">2</td><td class="failed">1</td><td class="undefined">12</td><td>13.33</td></tr></table><div><b>Overall Duration: 0h 00m 00s</b></div>
<a id="top"></a><h1>Table of Contents</h1><ol><li> <span class="failed"><a href="#feature-cfa-refresh-order-delayed-delivery-phone-with-instock-accessory-basket-review-and-confirmation-page">CFA Refresh Order Delayed delivery phone with Instock accessory Basket Review and Confirmation Page</a></span><ol><li> <span class="failed"><a href="#sc-cfa-refresh-order-delayed-delivery-phone-with-instock-accessory-basket-review-and-confirmation-page;;;2"></a></span></li></ol></li></ol><h1>Detailed Results Report</h1><table width="700px"><tr class="failed"><td colspan="4"><b>Feature:</b> <a id="feature-cfa-refresh-order-delayed-delivery-phone-with-instock-accessory-basket-review-and-confirmation-page">CFA Refresh Order Delayed delivery phone with Instock accessory Basket Review and Confirmation Page</a></td></tr><tr class="failed_description"><td colspan="4"><br></br></td></tr><tr class="failed"><td><small><b>Passed:</b> 0</small></td><td><small><b>Failed:</b> 1</small></td><td><small><b>Undefined:</b> 0</small></td><td><small>Duration: 105.66s</small></td></tr><tr class="failed"><td colspan="4" style="padding-left:20px"> <table width="100%"><tr class="failed"><td colspan="4"><b>Scenario Outline:</b> <a id="sc-cfa-refresh-order-delayed-delivery-phone-with-instock-accessory-basket-review-and-confirmation-page;;;2"></a></td></tr><tr class="failed_description"><td colspan="4"><br>CFA Refresh Order Delayed delivery phone with Instock accessory Basket Review and Confirmation Page</br></td></tr><tr class="failed"><td><small><b>Passed:</b> 2</small></td><td><small><b>Failed:</b> 1</small></td><td><small><b>Undefined:</b> 12</small></td><td><small>Duration: 105.66s</small></td></tr><tr class="passed"><td>Before</td><td colspan="2"></td><td width="100">66.13s</td></tr><tr class="passed"><td colspan="4"><br></br></td></tr><tr class="failed"><td colspan="4" style="padding-left:20px"> <table width="100%"><tr class="passed"><td><b>Given </b> I am an CFA user and Lands on shop page</td><td width="100">0.21s</td></tr><tr class="passed"><td><b>And </b> navigate to PAYM Phones page</td><td width="100">35.67s</td></tr><tr class="failed"><td><b>And </b> I choose PayM GalaxyS7</td><td width="100">0.52s</td></tr><tr class="failed"><td colspan="2"><div><br>org.openqa.selenium.WebDriverException: unknown error: Element &lt;a class=&quot;page-all&quot; ng-hide=&quot;pageSize&gt;=filteredTiles.length&quot; ng-click=&quot;pageSize=filteredTiles.length; currentPage=1;viewAll=true;&quot;&gt;...&lt;/a&gt; is not clickable at point (674, 614). Other element would receive the click: &lt;div data-qa-comparison-footer=&quot;&quot; class=&quot;comparison-footer&quot; show-compare-footer-on-position=&quot;&quot; style=&quot;display: block;&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=58.0.3029.110)
  (Driver info: chromedriver=2.29.461591 (62ebf098771772160f391d75e589dc567915b233),platform=Windows NT 6.1.7601 SP1 x86) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 393 milliseconds
Build info: version: '3.0.1', revision: '1969d75', time: '2016-10-18 09:49:13 -0700'
System info: host: 'LASST260449', ip: '10.172.41.125', os.name: 'Windows 7', os.arch: 'x86', os.version: '6.1', java.version: '1.8.0_131'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities [{applicationCacheEnabled=false, rotatable=false, mobileEmulationEnabled=false, networkConnectionEnabled=false, chrome={chromedriverVersion=2.29.461591 (62ebf098771772160f391d75e589dc567915b233), userDataDir=C:Usersravindv1AppDataLocalTempscoped_dir16236_19921}, takesHeapSnapshot=true, pageLoadStrategy=normal, databaseEnabled=false, handlesAlerts=true, hasTouchScreen=false, version=58.0.3029.110, platform=XP, browserConnectionEnabled=false, nativeEvents=true, acceptSslCerts=true, locationContextEnabled=true, webStorageEnabled=true, browserName=chrome, takesScreenshot=true, javascriptEnabled=true, cssSelectorsEnabled=true, unexpectedAlertBehaviour=}]
Session ID: 47c5e33a83a0cae097c84e2e75cc29ea</br><br>
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)</br><br>
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)</br><br>
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)</br><br>
	at java.lang.reflect.Constructor.newInstance(Unknown Source)</br><br>
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:216)</br><br>
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:168)</br><br>
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:635)</br><br>
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:274)</br><br>
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)</br><br>
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)</br><br>
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)</br><br>
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)</br><br>
	at java.lang.reflect.Method.invoke(Unknown Source)</br><br>
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:51)</br><br>
	at com.sun.proxy.&#36;Proxy18.click(Unknown Source)</br><br>
	at actionsPerformed.PhonesListingPageAction.PAYMPhoneSelect(PhonesListingPageAction.java:11)</br><br>
	at steps.E2EOrderPlaced_Steps.Choose_PAYM_Handset(E2EOrderPlaced_Steps.java:148)</br><br>
	at &#10045;.And I choose PayM GalaxyS7(CFA_Refresh_Order_Delayed_delivery_phone_with_Instock_accessory_Basket_Review_and_Confirmation_Page.feature:8)</br><br>
</br></div></td></tr><tr class="skipped"><td><b>And </b> Navigate to device details page</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> Land on the 'Tariffs and extra' page</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> Choose some Accesssory</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> I Land on the basket page and choose home delivery option</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> Check for order contract text for DD/PreOrder phone in Basket Page</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> click on &quot;go to checkout&quot; button</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> input TEST and ACCEPTA and other valid details in Delivery page and Click on the 'Continue button'</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> land on the payment page and input TEST ACCEPTA and other details and click 'Continue on next step'</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> Continue to Agreements page and confirm all the agreement checks</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> Continue to Review page, check order contract text and review the order</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>And </b> Check order contract text in Order Confirmation page</td><td width="100">0.00s</td></tr><tr class="skipped"><td><b>Then </b> order confirmation is displayed</td><td width="100">0.00s</td></tr></table></td></tr><tr class="passed"><td>After</td><td colspan="2"></td><td width="100">3.12s</td></tr><tr class="passed"><td colspan="4"><br></br></td></tr><tr><td colspan="5"><sup><a href="#top">Back to Table of Contents</a></sup></td></tr></table></td></tr><tr><td colspan="5"></td></tr></table>	
	</body>
</html>